@model IEnumerable<BethanysPieShopHRM.Models.Country>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CountryId</td>
            <td>@item.CountryName</td>
            <td><a asp-controller="Country" asp-action="Details" asp-route-id="@item.CountryId">Details</a></td>
        </tr>
    }
</table>