@using BethanysPieShopHRM.Models
@model Country

@{
    Layout = "_Layout";
}

<b>Country ID:</b> @Model.CountryId
<br />
<b>Name:</b> @Model.CountryName
<br />


<a asp-controller="Country" asp-action="Index">Back</a>