<!DOCTYPE html>
<html>
<head>
	<title>Bethany's Pie Shop HRM</title>
</head>
<body>
	<h1><a asp-controller="Home">Welcome to Bethany's Pie Shop HRM</a></h1>
	<h3><a asp-controller="Country" asp-action="Index">Manage countries</a></h3>

	<div>
		@RenderBody()
	</div>
</body>
</html>