@using BethanysPieShopHRM.ViewModels

@model EmployeeListViewModel

<h1>@Model.EmployeeCategoryType</h1>

<table>
    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>@item.EmployeeId</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
        </tr>
    }
</table>