@using BethanysPieShopHRM.Models
@model Question


<form method="post" role="form">

    <div>
        <label class="form-label"></label>
        <input class="form-control" />
    </div>
    <div>
        <label class="form-label"></label>
        <input class="form-control" />
    </div>
    <div>
        <label class="form-label"></label>
        <input class="form-control" />
    </div>

    <input type="submit" value="Send question" />
</form>
