@model Employee

<form method="post" role="form">

    <div>
        <div>
            <label class="form-label"></label>
            <input class="form-control" />
        </div>

        <div>
            <label class="form-label"></label>
            <input class="form-control" />
        </div>

        <div>
            <label class="form-label"></label>
            <input class="form-control" />
        </div>

        <div>
            <label class="form-label"></label>
            <input class="form-control" />
        </div>
    </div>

    <div>
        <input type="submit" value="Save employee" />
    </div>

</form>