<!DOCTYPE html>
<html>
<head>
    <title>Bethany's Pie Shop HRM</title>
</head>
<body>
    <header>
        <nav>
            <div>
                <a>
                    <img src="~/images/logo.png">
                </a>

                <div>
                    <ul>
                        <li>
                            <a>Employees</a>
                        </li>
                        <li>
                            <a>Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
