<!DOCTYPE html>
<html>
<head>
	<title>Bethany's Pie Shop HRM</title>
</head>
<body>
	<h1><a>Welcome to Bethany's Pie Shop HRM</a></h1>
	<h3><a>Manage countries</a></h3>

	<div>
		@RenderBody()
	</div>
</body>
</html>