@using BethanysPieShopHRM.Models
@model List<Employee>

@{
    Layout = "_Layout";
}

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeId</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td><a asp-action="Details" asp-controller="Employee" asp-route-id="@item.EmployeeId">Details</a></td>
        </tr>
    }

</table>